/* Criado por Ricardo Kiki <rhskiki@gmail.com> */

.center {
    float: none;
    margin-top: 25px;
}

.descricao-lines {
    margin-top: 10px;
}

.header-painel {
    margin: 0 0 0 0;
    font-size: 18px;
    font-weight: bold;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
    color: #fff;
    background-color: #5cb85c;
}

.green {
    color: rgb(85, 85, 85);
}

.red {
    color: #d9534f;
}

a:hover {
    color: #000;
}


/* Barra de rolagem na div */
.div-scrollbar {
    height: 380px;
    max-height: 380px;
    overflow-y: scroll;
}

/* Barra de rolagem na div maior */
.div-scrollbar-2x {
    height: 431px;
    max-height: 431px;
    overflow-y: scroll;
}

/* Sticky footer styles -------------------------------------------------- */

html,
body {
    height: 100%;
    
    /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by it's height */
    margin: 0 auto -60px;
}

/* Set the fixed height of the footer here */
#push,
#footer {
    height: 90px;
}
#footer {
    background-color: #e5e5e5;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
    #footer {
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;
    }
}

.bold {
    font-weight: bold;
}
